body {
    background-color: rgb(93,136,187);
    background: url(../assets/image/login_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
  }

  .table-reset a::before {
    content: "\f0e2";
    font-size: 0.75em;
    text-decoration: none;
    margin-right: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -1px;
  }